.navbar>.container{
    width: 100% ; 

    margin-left: 0;
    margin-right: 0 ;

    height: 5rem;
    display: flex;

}

.bg-light {
    width: 100% ;
    justify-content: space-around !important;
}

.navIcon .MuiSvgIcon-root {
    color: #fe424d;
    font-size: 2.2rem ;
}

.navbar-nav a{
    color: #333 !important;
    font-size:1.4rem ;
    font-weight: 500;
}

.sessionsIcons{
    margin-right: 0 !important;
    
}

.mainSearchBar{
    margin-right: 20%;
}